<span class="badge badge--green u-pointer" ng-class="{'badge--is-disabled': !self.isActive('GET')}" ng-click="self.toggle('GET')">GET</span>
<span class="badge badge--orange u-pointer" ng-class="{'badge--is-disabled': !self.isActive('POST')}" ng-click="self.toggle('POST')">POST</span>
<span class="badge badge--blue u-pointer" ng-class="{'badge--is-disabled': !self.isActive('PATCH')}" ng-click="self.toggle('PATCH')">PATCH</span>
<span class="badge badge--purple u-pointer" ng-class="{'badge--is-disabled': !self.isActive('PUT')}" ng-click="self.toggle('PUT')">PUT</span>
<span class="badge badge--red u-pointer" ng-class="{'badge--is-disabled': !self.isActive('DELETE')}" ng-click="self.toggle('DELETE')">DELETE</span>
