<!-- edit endpoint panel -->
<section class="panel-edit panel-edit--vertical-split" ng-class="{'panel-edit--open': self.isPanelOpen}">
    <form name="form" class="panel-edit__container" novalidate>
        <div class="input-group">
            <label for="panel-edit__endpoint" class="input-group__label">Endpoint</label>
            <span class="u-validation-error" ng-show="form.endpoint.$error.required">Endpoint is required.</span>
            <span class="u-validation-error"
                  ng-bind="self.endpointEditErrors.endpoint"
                  ng-show="self.endpointEditErrors.endpoint && self.endpointEdit._id"></span>
            <input spellcheck="false" id="panel-edit__endpoint" class="input-group__input" name="endpoint"
                   ng-model="self.endpointEdit.endpoint" maxlength="255" required endpoint-validator>
        </div>

        <div class="input-group">
            <label class="input-group__label">Methods</label>
            <http-methods-input methods="self.endpointEdit.methods" class="u-block"></http-methods-input>
        </div>

        <div class="input-group">
            <label for="panel-edit__response" class="input-group__label">Response</label>
            <span class="u-validation-error" ng-show="form.response.$error.required">Response is required.</span>
            <span class="u-validation-error"
                  ng-show="form.response.$error.response">Response should be valid JSON.</span>
            <span class="u-validation-error" ng-bind="self.endpointEditErrors.response"
                  ng-show="form.$error.response"></span>
            <textarea id="panel-edit__response" class="input-group__textarea" name="response"
                      ng-model="self.endpointEdit.response" required response-validator></textarea>
        </div>

        <button class="btn btn--save" ng-click="self.save(self.endpointEdit)"
                ng-disabled="form.$invalid || self.inProgress"><i class="fa fa-refresh fa-spin"
                                                                ng-show="self.inProgress"></i>Save
        </button>
        <button class="btn btn--cancel" ng-click="self.closePanel()">Close</button>
        <button class="btn btn--delete u-right" ng-click="self.remove(self.endpointEdit._id)" ng-disabled="self.inProgress">
            <i class="fa fa-refresh fa-spin" ng-show="self.inProgress"></i>Delete
        </button>
    </form>
</section>

<!-- endpoint list -->
<table>
    <tr>
        <th class="table__cell table--header">Methods</th>
        <th class="table__cell table--header">Endpoint</th>
        <th class="table__cell table--header">Actions</th>
    </tr>

    <tr ng-repeat="endpoint in self.endpoints" ng-class="{'table--odd': $odd, 'table--even': $even}">
        <td class="table__cell">
      <span ng-repeat="method in endpoint.methods | orderBy"
            class="badge"
            ng-class="{'badge--green': method === 'GET',
        'badge--orange': method === 'POST',
        'badge--blue': method === 'PATCH',
        'badge--purple': method === 'PUT',
        'badge--red': method === 'DELETE'}">{{method}}</span>
        </td>

        <td class="table__cell">
            <span ng-bind="endpoint.endpoint"></span>
        </td>

        <td class="table__cell">
            <i class="fa fa-pencil u-pointer u-padding-xs-right"
               ng-click="self.makeDraft(endpoint); self.openEditPanel()"></i>
            <i class="fa fa-trash-o u-pointer" confirm-dialog on-accept="self.remove(endpoint._id)"
               body="Remove endpoint?"></i>
        </td>
    </tr>
</table>

<!-- create new endpoint -->
<button class="btn btn--add" ng-click="self.create()"><i class="fa fa-plus"></i></button>