<!-- edit endpoint panel -->
<section class="panel-edit panel-edit--vertical-split" ng-class="{'panel-edit--open': self.isPanelOpen}">
    <form name="form" class="panel-edit__container" novalidate>
        <div class="input-group">
            <label for="panel-edit__endpoint" class="input-group__label">Route</label>
            <span class="u-validation-error" ng-show="form.endpoint.$error.required">Route is required.</span>
            <span class="u-validation-error"
                  ng-bind="self.endpointEditErrors.route"
                  ng-show="self.endpointEditErrors.route && self.endpointEdit._id"></span>
            <input spellcheck="false" id="panel-edit__endpoint" class="input-group__input" name="route"
                   ng-model="self.endpointEdit.route" maxlength="255" required>
        </div>

        <div class="input-group">
            <!-- TODO Methods should be tabs?-->
            <label class="input-group__label">Methods</label>
        </div>

        <div class="input-group">
            <label class="input-group__label">Response</label>
            <span class="u-validation-error" ng-show="form.response.$error.required">Response is required.</span>
            <span class="u-validation-error"
                  ng-show="form.response.$error.response">Response should be valid JSON.</span>
            <span class="u-validation-error" ng-bind="self.endpointEditErrors.response"
                  ng-show="form.$error.response"></span>

            <!-- TODO: -->
            <pre class="panel-edit__response ace-editor"
                 ace-editor
                 content="self.endpointEdit.response"
                 set-value="self.setAceEditorContent">
            </pre>

            <!-- hidden textarea will make custom validation to work on ace-editor -->
            <textarea class="ng-hide"
                      name="response"
                      ng-model="self.endpointEdit.response"
                      required></textarea>
        </div>

        <button class="btn btn--save" ng-click="self.save(self.endpointEdit)"
                ng-disabled="form.$invalid || self.inProgress"><i class="fa fa-refresh fa-spin"
                                                                  ng-show="self.inProgress"></i>Save
        </button>
        <button class="btn btn--cancel" ng-click="self.closePanel()">Close</button>
        <button class="btn btn--delete u-right" ng-click="self.remove(self.endpointEdit._id)"
                ng-disabled="self.inProgress">
            <i class="fa fa-refresh fa-spin" ng-show="self.inProgress"></i>Delete
        </button>
    </form>
</section>

<!-- endpoint list -->
<table>
    <tr>
        <th class="table__cell table--header">Methods</th>
        <th class="table__cell table--header">Endpoint</th>
        <th class="table__cell table--header">Actions</th>
    </tr>

    <tr ng-repeat="endpoint in self.endpoints"
        ng-class="{'table--odd': $odd, 'table--even': $even}">
        <td class="table__cell" ng-click="self.makeDraft(endpoint); self.openEditPanel()">
            <span class="badge badge--green" ng-show="endpoint.on_get">GET</span>
            <span class="badge badge--orange" ng-show="endpoint.on_post">POST</span>
            <span class="badge badge--blue" ng-show="endpoint.on_patch">PATCH</span>
            <span class="badge badge--purple" ng-show="endpoint.on_put">PUT</span>
            <span class="badge badge--red" ng-show="endpoint.on_delete">DELETE</span>
        </td>

        <td class="table__cell" ng-click="self.makeDraft(endpoint); self.openEditPanel()">
            <span ng-bind="endpoint.route"></span>
        </td>

        <td class="table__cell">
            <i class="fa fa-pencil u-pointer u-padding-xs-right"
               ng-click="self.makeDraft(endpoint); self.openEditPanel()"></i>
            <i class="fa fa-trash-o u-pointer" confirm-dialog on-accept="self.remove(endpoint._id)"
               body="Remove endpoint?"></i>
        </td>
    </tr>
</table>

<!-- create new endpoint -->
<button class="btn btn--add"
        ng-click="self.create()"
        ng-disabled="self.inProgress"
        tooltip
        tooltip-text="Create">
    <i class="fa fa-plus"></i>
</button>

<button class="btn btn--restart"
        ng-click="self.restartServer()"
        ng-disabled="self.inProgress"
        tooltip
        tooltip-text="Restart">
    R
</button>