<span class="badge badge--green" ng-class="{'badge--active': self.isActive('GET')}" ng-click="self.toggle('GET')">GET</span>
<span class="badge badge--orange" ng-class="{'badge--active': self.isActive('POST')}" ng-click="self.toggle('POST')">POST</span>
<span class="badge badge--blue" ng-class="{'badge--active': self.isActive('PATCH')}" ng-click="self.toggle('PATCH')">PATCH</span>
<span class="badge badge--purple" ng-class="{'badge--active': self.isActive('PUT')}" ng-click="self.toggle('PUT')">PUT</span>
<span class="badge badge--red" ng-class="{'badge--active': self.isActive('DELETE')}" ng-click="self.toggle('DELETE')">DELETE</span>
