<span class="method-input" ng-class="{'method-input--active': self.isActive('GET')}" ng-click="self.toggle('GET')">GET</span>
<span class="method-input" ng-class="{'method-input--active': self.isActive('POST')}" ng-click="self.toggle('POST')">POST</span>
<span class="method-input" ng-class="{'method-input--active': self.isActive('PATCH')}" ng-click="self.toggle('PATCH')">PATCH</span>
<span class="method-input" ng-class="{'method-input--active': self.isActive('PUT')}" ng-click="self.toggle('PUT')">PUT</span>
<span class="method-input" ng-class="{'method-input--active': self.isActive('DELETE')}" ng-click="self.toggle('DELETE')">DELETE</span>
