Hello Resource.
<span ng-bind="self.message"></span>

<h3>Resources <button ng-click="self.create()">Create</button></h3>

<div ng-repeat="resource in self.resources">
  <http-methods-input methods="resource.methods"></http-methods-input>
  <input type="text" ng-model="resource.endpoint"></span>
  <textarea ng-model="resource.response"></textarea>
  <button ng-click="self.save(resource)">Save</button>
  <button ng-click="self.edit(resource)">Edit</button>
  <button ng-click="self.remove($index)">Remove</button>
</div>
