/* base styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

table {
  width: 100%;
}

table tr:hover {
  background-color: #E2E2E2;
}

.table__cell {
  padding: 15px 30px;
  text-align: left;
}

.table--odd {
  background-color: #F5F5F5;
}

.table--even {
  background: #FCFCFC;
}

.table--header {
  background: #F0F0F0;
}

input:focus, textarea:focus {
  outline: none;
}

input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
}

input:focus {
  border: 1px solid #2196F3;
}

textarea {
  display: block;
  width: 100%;
  padding: 6px 12px;
}

textarea:focus {
  border: 1px solid #2196F3;
}

button {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

button:hover {
  background: #e6e6e6;
  border-color: #adadad;
}

button:focus {
  outline: none;
}

/* ui components */
.badge {
  font-size: 12px;
  color: #FFF;
  padding: 4px;
  border: 1px solid transparent;
}

.badge--is-disabled {
  opacity: 0.3;
}

.badge--green {
  background-color: #4CAF50;
}

.badge--orange {
  background-color: #FF9800;
}

.badge--blue {
  background-color: #2196F3;
}

.badge--red {
  background-color: #F44336;
}

.badge--purple {
  background-color: #9C27B0;
}

.panel-edit {
  position: absolute;
  border-left: 1px solid #2196F3;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  transition-duration: 1s;
  right: -50%;
}

.panel-edit--vertical-split {
  height: 100%;
  width: 50%;
}

.panel-edit--open {
  right: 0;
}

.panel-edit__container {
    padding: 20px;
}

.panel-edit__close {
  position: absolute;
  right: 5px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group__label {
  display: inline-block;
  margin-bottom: 5px;
}


.btn {}
.btn--add {
  border-radius: 25px;
  border-style: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  /*opacity: 0.5;*/
  left: 10px;
  background: #2196F3;
  color: #FFF;
}

.btn--add:hover {
  background: #0c85e6;
}

.btn--save {
    color: #FFF;
    background: #2196F3;
    border-color: #2196F3;
}

.btn--save:hover {
    background: #0c85e6;
    border-color: #0c85e6;
}

/* utility */
.u-pointer {
  cursor: pointer;
}

.u-padding-xs-right {
  padding-right: 10px;
}

.u-block {
    display: block;
}
