/* base styles */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

table {
  width: 100%;
}

table tr:hover {
  background-color: #E2E2E2;
}

.table__cell {
  padding: 10px 30px;
  text-align: left;
}

.table--odd {
  background-color: #F5F5F5;
}

.table--even {
  background: #FCFCFC;
}

.table--header {
  background: #F0F0F0;
}

input:focus, textarea:focus {
  outline: none;
}

input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #ccc;
}

input:focus {
  border: 1px solid #2196F3;
}

textarea {
  display: block;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #ccc;
}

textarea:focus {
  border: 1px solid #2196F3;
}

button {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

button:hover {
  background: #e6e6e6;
  border-color: #adadad;
}

button:focus {
  outline: none;
}

button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

/* ui components */
.badge {
  font-size: 12px;
  color: #FFF;
  padding: 4px;
  border: 1px solid transparent;
}

.badge--is-disabled {
  opacity: 0.3;
}

.badge--green {
  background-color: #4CAF50;
}

.badge--orange {
  background-color: #FF9800;
}

.badge--blue {
  background-color: #2196F3;
}

.badge--red {
  background-color: #F44336;
}

.badge--purple {
  background-color: #9C27B0;
}

.panel-edit {
  position: absolute;
  border-left: 1px solid #2196F3;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  transition-duration: 1s;
  right: -50%;
}

.panel-edit--vertical-split {
  height: 100%;
  width: 50%;
}

.panel-edit--open {
  right: 0;
}

.panel-edit__container {
  padding: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group__label {
  display: inline-block;
  margin-bottom: 5px;
}

.btn {
}

.btn:hover .btn__tooltip {
  display: inline-block;
}

.btn--add {
  border-style: none;
  min-width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  /*opacity: 0.5;*/
  left: 10px;
  background: #2196F3;
  color: #FFF;
}

.btn--add:hover {
  background: #0c85e6;
}

.btn--restart {
  margin-left: 55px;
  border-style: none;
  min-width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: #FF9800;
  color: #FFF;
  transition: width;
}

.btn--restart:hover {
  background: #dd8400;
}

.btn--save {
  color: #FFF;
  background: #2196F3;
  border-color: #2196F3;
}

.btn--save:hover {
  background: #0c85e6;
  border-color: #0c85e6;
}

.btn--delete {
  color: #FFF;
  background: #F44336;
  border-color: #F44336;

  &:hover {
    background: #f22516;
    border-color: #f22516;
  }
}

.btn--xs {
  font-size: 12px;
}

.fa-exclamation {
  position: relative;
  top: 30px;
  right: 10px;
  color: #F44336;
}

.dialog {
  position: absolute;
  background: #FFF;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px;
  width: 280px;
  min-height: 110px;
  border: 1px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  z-index: 1050;
}

.dialog__body {
  font-size: 14px;
  margin-bottom: 25px;
}

.dialog__actions {
  text-align: center;
  float: right;
}

#dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: .5;
}

.notification-container {
  position: absolute;
  overflow-y: auto;
  max-height: 100vh;
  overflow-x: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  &--top-left {
    top: 0;
  }

  &--top-right {
    top: 0;
    right: 0;
  }
}

.notification {
  background: #FFF;
  padding: 25px 25px 0 25px;
  width: 280px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #fbfafa;
}

.notification__type {
  color: #F44336;
  font-weight: 600;
  margin-bottom: 5px;
}

.notification__body {
  margin-top: 5px;
  list-style-type: none;
  padding-left: 0;
}

.notification__error-key {
  font-weight: 600;
}

.notification__error_value {

}

.notification__title {
  text-transform: uppercase;

  &--error {
    color: #F44336;
  }

  &--info {
    color: #2196F3;
  }

  &--success {
    color: #4CAF50;
  }
}

.notification__action {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}

.notification__close {
  text-transform: uppercase;
  font-size: 12px;


  &:hover {
    cursor: pointer;
  }
}

.tooltip {
  color: #000;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 2px;
}

/* utility */
.u-pointer {
  cursor: pointer;
}

.u-padding-xs-right {
  padding-right: 10px;
}

.u-block {
  display: block;
}

.u-validation-error {
  font-size: 12px;
  color: #F44336;
}

.u-right {
  float: right;
}

/* override */
input.ng-invalid,
textarea.ng-invalid {
  border: 1px solid #F44336;
}

.fa-refresh {
  margin-right: 5px;
}
